# <b>Importing Libraries<b>

In [1]:
import kaggle
import pandas as pd
import numpy as np

import sqlalchemy as sal
import zipfile

# <b>Download dataset using kaggle API</b>

In [2]:
!kaggle datasets download shivamb/netflix-shows -f netflix_titles.csv
# or
# kaggle.api.dataset_download_files('shivamb/netflix-shows', path='./data', unzip=True)

Dataset URL: https://www.kaggle.com/datasets/shivamb/netflix-shows
License(s): CC0-1.0
netflix_titles.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
# extract orders.csv from the downloaded zip file.
import zipfile
from numpy import extract

zip_ref = zipfile.ZipFile('netflix_titles.csv.zip') 
zip_ref.extractall()
zip_ref.close()

# <b>Loading dataset</b>

In [22]:
df = pd.read_csv('netflix_titles.csv', encoding="utf-8")

# <b>Connecting dataset to sql server</b>

In [23]:
import sqlalchemy as sal

engine = sal.create_engine(
    "mssql+pyodbc://@Usman/netflix--database"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

conn = engine.connect()
print("Connected successfully")

Connected successfully

# <b>Loading the dataset into database</b>

In [24]:
# Write to raw table
df.to_sql('netflix_raw', con=conn, index=False, if_exists='replace')
conn.close()

# not re-run this cell again buz file is already loaded to the database thats why I commented out

### Analyzing Some Stuffs...

---

### let see all the rows are inserted or not

In [15]:
len(df)

8807

In [17]:
df[df["show_id"] == "s5023"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

the problem in sql while reading the title columns there are special characters that are not supported due to the datatype of the 
column in sql is varchar(255), so to solve this problem we change the datatype to nvarchar(max) which supports special characters as well as large text.